@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
}
/*Div do topo*/
.planoroxoclaro{
    width: max;
    height: max;
    background-color: rgb(125, 18, 135);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
    flex-direction: row;
}
.login{
height: 2.2em;
width: 4em;
justify-content: center;
align-items: center;
display: flex;
color: white;
font-family:  "Roboto", sans-serif;
border-radius: 7px;
}
.login:hover{
    background-color: rgb(53, 0, 65);
    cursor: pointer;
}
.carrinho{
    color: white;
    height: 2.2em;
    width: 7em;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-family:  "Roboto", sans-serif;
    border-radius: 7px;
}
.carrinho:hover{
background-color: rgb(53, 0, 65);
cursor: pointer;
}
.marca{
    color: white;
}
/*------------------------------------------------*/

/*Segunda div*/
.planoroxoescuro{
    width: max;
    height: 1.5em;
    background-color: rgb(180, 30, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5em;
}
.informatica{
    color: white;
    width: 6em;
    height: 1.5em;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.informatica:hover{
    background-color: rgb(142, 26, 168);
    cursor: pointer;
}
.moda{
    color: white;
    padding: max-content;
    width: 3.5em;
    height: 1.5em;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.moda:hover{
    background-color: rgb(142, 26, 168);
    cursor: pointer;
}
.casa{
    color: white;
    padding: max-content;
    width: 3em;
    height: 1.5em;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.casa:hover{
        background-color: rgb(142, 26, 168);
        cursor: pointer;
}
.musica{
    color: white;
    padding: max-content;
    width: 4em;
    height: 1.5em;
     font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.musica:hover{
        background-color: rgb(142, 26, 168);
        cursor: pointer;
}
/*-------------------------------------------------*/

/*Terceira div*/
.promocoes{
    background-color: rgb(136, 28, 176);
    width: max;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: row;
}
.quad1{
    background-color: grey;
    padding: 3.2em;
}
.quad1:hover{
    cursor: pointer;
}

.quad2{
    background-color: grey;
    padding: 3.2em;
}
.quad2:hover{
    cursor: pointer;
}

.quad3{
    background-color: grey;
    padding: 3.2em;
}
.quad3:hover{
    cursor: pointer;
}

.quad4{
    background-color: grey;
    padding: 3.2em;
}
.quad4:hover{
    cursor: pointer;
}
/*------------------------------------------*/

/*Descobertas e a linha roxa*/
.desc{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 1em;
    color: black;
    font-family: "Roboto", sans-serif;
}
.purpleline{
    width: max;
    height: 5px;
    background-color: blueviolet;
}
/*-------------------------------------------*/

/*Última div*/
.prod{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12em;
    width: max;
    align-items: center;
    gap: 4em;
}
.miniquad1{
    padding: 2em;
    background-color: grey;
}
.miniquad1:hover{
    cursor: pointer;
}

.miniquad2{
        padding: 2em;
    background-color: grey;
}
.miniquad2:hover{
    cursor: pointer;
}


.miniquad3{
        padding: 2em;
    background-color: grey;
}
.miniquad3:hover{
    cursor: pointer;
}


.miniquad4{
        padding: 2em;
    background-color: grey;
}
.miniquad4:hover{
    cursor: pointer;
}


.miniquad5{
        padding: 2em;
    background-color: grey;
}
.miniquad5:hover{
    cursor: pointer;
}


.miniquad6{
        padding: 2em;
    background-color: grey;
}
.miniquad6:hover{
    cursor: pointer;
}
